
<div style="text-align:center">
  <h1>
    Welcome to the Housing Inventory Forecast
  </h1>
  <img width="300" alt="HousingInventoryForecast logo" src="http://server/Revature/Docker/HousingInventoryForecast/src/assets/HousingInventoryForecast.PNG"/>
  <img width="300" runat="server" alt="HousingInventoryForecast logo" src="https://github.com/martinfitzjerl/HousingInventoryForecast/blob/master/src/assets/HousingInventoryForecastlogo.PNG"/>
</div>
<h2>Revature Forecast Services: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://revature.com/identifier">Identifier</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://revature.com/location">Location Service</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://revature.com/identifier">Identifier Service</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>




<ul>
  <li><a routerlink="">Home</a></li>
</ul>



<router-outlet></router-outlet>