.container {
    display: grid;
    grid-template-columns: 50% auto;
}
.col {
    padding: .4em 1.3em;
}
.color-dark {
    background: #ff5733;
}
.color-light {
    background: rgb(11, 31, 41);
}

input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}
input.btn {
    border: 0;
    display:block;
    padding:1em 3em;
    background:rgb(15, 21, 26);
    color:#ff5733;
    margin-bottom:1em;
    cursor:pointer;
}
.life-container {
    background:rgb(15, 21, 26);
    padding:.5em;
    font-weight:bold;
    cursor:pointer;
}